body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header .logo img {
    width: 120px;
    height: auto;
}

header nav {
    margin-top: 10px;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline-block;
    margin: 0 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header ul li a:hover {
    background-color: #34495E;
}
h2 {
    background-color: #2C3E50;
    color: white;
    padding: 15px;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tags {
    margin: 15px 0;
}

.tag {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-item {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    width: 220px;
    text-align: center;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.product-item p {
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: bold;
}
